@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Elements */

body {
    font-family: var(--font-mono);
    font-weight: var(--font-weight-6);
    letter-spacing: var(--font-letterspacing-4);
    line-height: var(--font-lineheight-1);
    font-size: var(--font-size-fluid-1);
}

body,
section,
article,
div,
footer,
header,
nav {
    display: grid;
}

main {
    display: contents;
}

h1 {
    text-decoration: underline;
}

p {
    max-width: 60ch;
}

input {
    padding: var(--size-fluid-1);
}

li {
    list-style-position: inside;
}


/* Classes */

.main {
    padding: var(--size-fluid-3);
}


/* Nav & Menu */

.nav {
    gap: var(--size-fluid-3);

    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;

    grid-template-areas: 
        "nav menu";

    justify-content: space-between;
}

.nav--content {
    grid-area: nav;
    gap: var(--size-fluid-3);
    align-content: start;
    padding: var(--size-fluid-3);
}

/* .menu--toggle {
    background-color: transparent;
    height: 100%;
    grid-area: menu;

    aspect-ratio: 1 / 1;

    place-self: center;
}

.menu {
    padding: var(--size-fluid-3);
} */


/* Not Found */

.not-found {
    margin: 0 auto;
}


/* Header */

header.main {
    
}


/* Posts */

.posts {
    gap: var(--size-fluid-3);
}

.posts--header {
    padding: var(--size-fluid-3);
}

.posts--content {
    padding: var(--size-fluid-3);
    gap: var(--size-fluid-3);
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
}


/* Post */

.post {
    overflow: hidden;
}

.post--full {
    padding: var(--size-fluid-3);
    gap: var(--size-fluid-3);
}

.post__header {
    overflow: hidden;

    gap: var(--size-fluid-3);

    border: 2px solid hsl(0 0% 50% / .2);
    border-radius: var(--radius-3);
}

.post--article > .post__header {
    padding: var(--size-fluid-3);
    background-color: hsl(0 0% 50% / .1);

    grid-template-rows:
        auto
        auto;
}

.post--article.post--full > .post__header {
    grid-template-rows: 
        1fr
        auto
        auto;
}

.post--media > header {
    background-color: black;
    place-content: center;
} 

.post__media {
    max-height: 75vh;
    border-radius: var(--radius-3);
    overflow: hidden;
}

.post__date {
    font-size: var(--font-size-fluid-0);
    background-color: hsl(0 0% 50% / .1);
    padding: var(--size-2) var(--size-3);
    width: fit-content;
    border-radius: var(--radius-2);
}

.post__content [class^="notion"] + [class^="notion"] {
    margin-top: 1em;
}

.post__footer {
    padding: var(--size-fluid-3);

    background-color: hsl(0 0% 50% / .1);

    border: 2px solid hsl(0 0% 50% / .2);
    border-radius: var(--radius-3);
}

footer.main {
    padding: var(--size-fluid-3);
    gap: 3rem;
}

